[manager]
ratio          = [ 1, 4, 3 ]
sort_by        = "natural"
sort_sensitive = false
sort_reverse   = false
sort_dir_first = true
linemode       = "none"
show_hidden    = false
show_symlink   = true
scrolloff      = 0
mouse_events   = [ "click", "scroll" ]

[preview]
wrap            = "no"
tab_size        = 2
max_width       = 600
max_height      = 900
cache_dir       = ""
image_delay     = 20
image_filter    = "triangle"
image_quality   = 75
sixel_fraction  = 15
ueberzug_scale  = 1
ueberzug_offset = [ 0, 0, 0, 0 ]

[opener]
folder = [
	{ run = 'nvim "$1"', block = true,desc = "neovim", for = "linux" },
	{ run = 'code  "$@"',orphan = true, desc = "vscode" , for = "linux" },
	{ run = 'zeditor  "$@"',orphan = true, desc = "zed" , for = "linux" },
	{ run = '''fish -c "lazygit -p "$1""''', block = true,desc = "lazygit", for = "linux" },
	{ run = 'basename "$@" | xargs -I {} tar --use-compress-program=pigz -cf ~/down/{}.tar.gz {}',orphan = true, desc = "archive" , for = "linux"  },

]
archive = [
	{ run = 'ouch decompress "$1" ', orphan = true, desc = "ouch decompress" , for = "linux" },
	{ run = 'ya pub extract --list "$@"', desc = "Extract here", for = "linux" },
]

text = [
	{ run = 'nvim "$1"', block = true,desc = "neovim", for = "linux" },
	{ run = 'code  "$@"',orphan = true, desc = "vscode" , for = "linux" },
	{ run = 'zeditor  "$@"',orphan = true, desc = "zed" , for = "linux" },
]
image = [
	{ run = 'sxiv -a "$@"',  orphan = true, desc = "sxiv" , for = "linux"},
	{ run = 'gthumb  "$@"',  orphan = true, desc = "gthumb" , for = "linux"},
]
video = [
	{ run = 'mpv "$@" ', orphan = true, desc = "mpv" , for = "linux" },
	{ run = 'ffmpeg -i "$@" -vf "fps=10" -loop 0 "$@".gif', orphan = true, desc = "change to gif"  , for = "linux" },	

]
audio = [
	{ run = 'mpv "$@" ' , orphan = true, desc = "mpv" , for = "linux"},
]

document = [
	{ run = 'xdg-open "$@"', orphan = true, desc = "xdg-open" , for = "linux" },
	{ run = 'okular "$@" ' , orphan = true, desc = "okular" , for = "linux"},
	{ run = 'GTK_IM_MODULE=fcitx5 foliate "$@" ' , orphan = true, desc = "foliate" , for = "linux"},
]

fallback = [
	{ run = 'xdg-open "$@"', orphan = true, desc = "xdg-open" , for = "linux" },
]

[open]
rules = [
	{ name = "*/", use = ["folder"] },

	{ mime = "text/*", use = ["text"] },
	{ mime = "image/*", use = ["image"] },
	{ mime = "video/*", use = ["video"] },
	{ mime = "application/octet-stream",use = ["video"]},
	{ mime = "audio/*", use = ["audio"] },
	{ mime = "inode/empty", use = ["text"] },
	{ mime = "application/json", use = ["text"] },

	{ mime = "application/zip", use = ["archive"] },
	{ mime = "application/gzip", use = ["archive"] },
	{ mime = "application/x-bzip", use = ["archive"] },
	{ mime = "application/x-bzip2", use = ["archive"] },
	{ mime = "application/x-tar", use = ["archive"] },
	{ mime = "application/x-7z-compressed", use = ["archive"] },
	{ mime = "application/x-rar", use = ["archive"] },
	{ mime = "application/pdf", use = ["document"] },
	{ mime = "application/epub+zip", use = ["document"] },
	{ mime = "application/x-mobipocket-ebook", use = ["document"] },

	{ mime = "*", use = ["fallback"] },
]

[tasks]
micro_workers    = 10
macro_workers    = 10
bizarre_retry    = 3
image_alloc      = 536870912  # 512MB
image_bound      = [ 0, 0 ]
suppress_preload = false

[input]
cursor_blink = false

# cd
cd_title  = "Change directory:"
cd_origin = "top-center"
cd_offset = [ 0, 2, 50, 3 ]

# create
create_title  = [ "Create:", "Create (dir):" ]
create_origin = "top-center"
create_offset = [ 0, 2, 50, 3 ]

# rename
rename_title  = "Rename:"
rename_origin = "hovered"
rename_offset = [ 0, 1, 50, 3 ]

# filter
filter_title  = "Filter:"
filter_origin = "top-center"
filter_offset = [ 0, 2, 50, 3 ]

# find
find_title  = [ "Find next:", "Find previous:" ]
find_origin = "top-center"
find_offset = [ 0, 2, 50, 3 ]

# search
search_title  = "Search via {n}:"
search_origin = "top-center"
search_offset = [ 0, 2, 50, 3 ]

# shell
shell_title  = [ "Shell:", "Shell (block):" ]
shell_origin = "top-center"
shell_offset = [ 0, 2, 50, 3 ]

[confirm]
# trash
trash_title 	= "Trash {n} selected file{s}?"
trash_origin	= "center"
trash_offset	= [ 0, 0, 70, 20 ]

# delete
delete_title 	= "Permanently delete {n} selected file{s}?"
delete_origin	= "center"
delete_offset	= [ 0, 0, 70, 20 ]

# overwrite
overwrite_title   = "Overwrite file?"
overwrite_content = "Will overwrite the following file:"
overwrite_origin  = "center"
overwrite_offset  = [ 0, 0, 50, 15 ]

# quit
quit_title   = "Quit?"
quit_content = "The following tasks are still running, are you sure you want to quit?"
quit_origin  = "center"
quit_offset  = [ 0, 0, 50, 15 ]

[pick]
open_title  = "Open with:"
open_origin = "hovered"
open_offset = [ 0, 1, 50, 7 ]

[which]
sort_by      	 = "none"
sort_sensitive = false
sort_reverse 	 = false
sort_translit  = false


[log]
enabled = false


[plugin]
prepend_previewers = [
  { name = "*.md", run = "glow" },
  { name = "*.html", run = "html" },
  { mime = "text/html", run = "html" },
  { mime = "application/epub+zip", run = "epub-preview" },
  { mime= "application/octet-stream", run = "video"}
]

# prepend_preloaders= [
# 	# { mime = "image/{avif,hei?,jxl,svg+xml}", run = "disable" },
# 	{ mime = "image/*", run = "disable" },
# 	# Video
# 	{ mime = "video/*", run = "disable" },
# 	# PDF
# 	# { mime = "application/pdf", run = "disable" },
# 	# Font
# 	{ mime = "font/*", run = "disable" },
# 	{ mime = "application/vnd.ms-opentype", run = "disable" },
# ]

[[plugin.prepend_fetchers]]
id   = "mime"
if   = "!(mime|dummy)"
name = "*"
run  = "mime-ext"
prio = "high"

[[plugin.prepend_fetchers]]
id   = "git"
name = "*"
run  = "git"

[[plugin.prepend_fetchers]]
id   = "git"
name = "*/"
run  = "git"


[[plugin.prepend_fetchers]]
id   = "current-size"
name = "*"
run  = "current-size"

[[plugin.prepend_fetchers]]
id   = "current-size"
name = "*/"
run  = "current-size"

